gogs:
  lookup:
    ### GENERAL OPTIONS ###

    # user used to connect via ssh and to run the gogs service
    user: git

    # source location of gogs archive (could also use salt://)
    binary_archive: https://github.com/gogits/gogs/releases/download/v0.9.46/linux_amd64.tar.gz
    # optional has of the gogs archive to check int
    binary_archive_hash: md5=afb15ed2c43d9c9a05fa709309929f11

    # install gogs archive into this directory
    install_dir: /opt/gogs
    # location of the gogs app.ini config file
    conf_dir: /etc/gogs
    # home directory of the gogs user
    home_dir: /var/lib/gogs/home
    # base directory for avatar and session directories and sqlite db file
    data_dir: /var/lib/gogs/data
    # directory containing gogs logs
    logs_dir: /var/log/gogs
    # base directory for gogs repositories
    repo_root_dir: /var/lib/gogs/repos

    ### CONFIG OPTIONS ###
    # These options generally map to <section>_<option> in the gogs config file

    # name that shows on every page title
    app_name: 'Gogs: Go Git Service'
    run_mode: prod

    # force every new repository to be private
    repository_force_private: 'false'

    server_protocol: http
    server_domain: localhost
    server_http_addr: '127.0.0.1'
    server_http_port: 3000
    # disable SSH feature when not available
    server_disable_ssh: 'false'
    # port number to be exposed in clone URL
    server_ssh_port: 22
    # disable CDN even in 'prod' mode
    server_offline_mode: 'false'

    # 'mysql, 'postgres', or 'sqlite3' (default: sqlite3)
    db_type: postgresql
    # the following are required for 'mysql' and 'postgres'
    db_host: localhost:5432
    db_name: gogs
    db_user: gogs
    db_pass: gogsdbpass
    # 'diable', 'require' or 'verify-full' (only used by 'postgres')
    db_ssl_mode: disable

    # secret key to keep user data safe (default: automatically generated by
    # salt and stored in the 'gogs:security_secret_key' grain)
    security_secret_key: '1sNQOM2XTZd0rmj'

    # user needs to confirm e-mail for registration
    service_register_email_confirm: 'false'
    # users can not register their own accounts, only admins can create them
    service_disable_registration: 'false'
    # user must sign in to view anything
    service_require_signin_view: 'false'
    # mail notification
    service_enable_notify_mail: 'false'
    #  enable captcha validation for registration
    service_enable_captcha: 'false'
    
    # 'memory', 'file', or 'redis' (default: file)
    #   also see 'data_sessions_dir'
    session_provider: memory
    
    # disable the use of gravatar for user profile pictures
    picture_disable_gravatar: 'false'

    # 'console', 'file', 'conn', 'smtp', or 'database' (default: file)
    #   also see 'logs_dir'
    log_mode: console
    # 'Trace', 'Debug', 'Info', 'Warn', 'Error', or 'Critical' (default: Warn)
    log_level: Error

    # enable internal log rotation of gogs.log file (default: false)
    log_file_log_rotate: 'true'

    # defaults to '<conf_dir>/app.ini' if not defined
    conf_file: /etc/gogs/config.ini
    # defaults to '<data_dir>/gogs.db' if not defined
    sqlite_db_file: /var/lib/gogs/gogs.sqlite3
    # defaults to '<data_dir>/sessions/' if not defined
    data_sessions_dir: /tmp/sessions
    # defaults to '<data_dir>/avatars/' if not defined
    data_avatars_dir: /tmp/avatars
    # defaults to '<data_dir>/attachments/' if not defined
    data_attachments_dir: /tmp/attachemts
