{%- from "gogs/map.jinja" import gogs with context -%}

{%- set config = salt['pillar.get']('gogs:config', {}) -%}

{%- set data_dir = config.get('server_app_data_path', gogs.data_dir) -%}
{%- set db_type = config.get('db_type', 'sqlite3') -%}

APP_NAME = {{ config.get('app_name', 'Gogs: Go Git Service') }}
RUN_USER = {{ config.get('run_user', gogs.user) }}
RUN_MODE = {{ config.get('run_mode', 'prod') }}

[repository]
ROOT = {{ config.get('repository_root', gogs.repo_root_dir) }}
FORCE_PRVATE = {{ config.get('repository_force_private', 'false')|lower }}

[server]
PROTOCOL = {{ config.get('server_protocol', 'http') }}
DOMAIN = {{ config.get('server_domain', 'localhost') }}
{%- if 'server_root_url' in config %}
ROOT_URL = {{ config.server_root_url }}
{%- endif %}
HTTP_ADDR = {{ config.get('server_http_addr', '0.0.0.0') }}
HTTP_PORT = {{ config.get('server_http_port', '3000') }}
{%- if 'server_local_root_url' in gogs %}
LOCAL_ROOT_URL = {{ config.server_local_root_url }}
{%- endif %}

DISABLE_SSH = {{ config.get('server_disable_ssh', 'false')|lower }}
SSH_PORT = {{ config.get('server_ssh_port', 22) }}
OFFLINE_MODE = {{ config.get('server_offline_mode', 'false')|lower }}
APP_DATA_PATH = {{ data_dir }}

[database]
DB_TYPE = {{ db_type }}
{%- if db_type != 'sqlite3' %}
HOST = {{ config.db_host }}
NAME = {{ config.db_name }}
USER = {{ config.db_user }}
PASSWD = {{ config.db_pass }}
{%- if db_type == 'postgres' %}
SSL_MODE = {{ config.get('db_ssl_mode', 'disable')  }}
{%- endif %}
{%- else %}
PATH = {{ config.get('sqlite_db_file', data_dir ~ '/gogs.db') }}
{%- endif %}

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ config.get('security_secret_key', salt['grains.get_or_set_hash'](
    'gogs:security_secret_key',
    length=15,
    chars=('abcdefghijklmnopqrstuvwxyz' +
           'ABCDEFGHIJKLMNOPQRSTUVWXYZ' +
           '12345678790')
)) }}

[service]
REGISTER_EMAIL_CONFIRM = {{ config.get('service_register_email_confirm', 'false')|lower }}
DISABLE_REGISTRATION = {{ config.get('service_disable_registration', 'false')|lower }}
REQUIRE_SIGNIN_VIEW = {{ config.get('service_require_signin_view', 'false')|lower }}
ENABLE_NOTIFY_MAIL = {{ config.get('service_enable_notify_mail', 'false')|lower }}
ENABLE_CAPTCHA = {{ config.get('service_enable_captcha', 'false')|lower }}

[mailer]
{%- set mailer_enabled = config.get('mailer_enabled', False) %}
{%- if mailer_enabled %}
ENABLED = true
HOST = {{ config.get('mailer_host', 'localhost:25') }}
FROM = {{ config.get('mailer_from', '"Gogs" <{0}@{1}>'.format(gogs.user, salt['grains.get']('fqdn'))) }}
USER = {{ config.get('mailer_user', '') }}
PASSWD = {{ config.get('mailer_passwd', '') }}
{%- else %}
ENABLED = false
{%- endif %}

[session]
PROVIDER = {{ config.get('session_provider', 'file') }}
PROVIDER_CONFIG = {{ config.get('session_provider_config', data_dir ~ '/sessions/') }}

[picture]
AVATAR_UPLOAD_PATH = {{ config.get('picture_avatar_upload_path', data_dir ~ '/avatars/') }}
DISABLE_GRAVATAR = {{ config.get('picture_disable_gravatar', 'false')|lower }}
ENABLE_FEDERATED_AVATAR = {{ config.get('picture_enable_federated_avatar', 'false')|lower }}

[attachment]
PATH = {{ config.get('attachment_path', data_dir ~ '/attachments/') }}

[log]
ROOT_PATH = {{ config.get('log_root_path', gogs.logs_dir) }}
MODE = {{ config.get('log_mode', 'file') }}
LEVEL = {{ config.get('log_level', 'Warn') }}

[log.file]
LOG_ROTATE = {{ config.get('log_file_log_rotate', 'false')|lower }}
