{%- import_yaml "gogs/defaults.yaml" as defaults -%}

{# Set some default "non-static" default values #}
{%- do defaults.gogs.update({
    'conf_file': '{0}/app.ini'.format(salt['pillar.get'](
        'gogs:lookup:conf_dir', defaults.gogs.conf_dir)
    ),
}) -%}

{# Don't use the default hash if the default binary source is not being used #}
{%- if salt['pillar.get']('gogs:lookup:binary_archive', None) -%}
    {%- do defaults.gogs.update({
        'binary_archive_hash': '',
    })-%}
{%- endif -%}

{%- set gogs = salt['pillar.get']('gogs:lookup', defaults.gogs, merge=True) -%}
